/* Logo container */
.logo {
    width: 50px;               /* Set the width of the logo */
    height: 50px;              /* Set the height of the logo */
    background-image: url('logo.png');  /* Path to your logo image */
    background-size: contain; /* Ensure the logo fits within the container */
    background-repeat: no-repeat;  /* Prevent the image from repeating */
    background-position: center;   /* Center the logo within the container */
}
  body {
    background-image: url('logo.jpg'); /* css image lode  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  
